@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .sourrounding-div{
        @apply bg-offwhite px-40 py-10 rounded-xl 
    }
    .custom-button {
        @apply flex items-center content-center justify-center bg-purple-custom text-white rounded-full p-[1.5svh] text-xl font-bold
        border-purple-custom border-2  hover:border-offwhite;
    }
    .custom-button-forgotPw {
        @apply hover:text-black text-gray-standard ;
    }

    .custom-input {
        @apply rounded-full w-64 px-4 py-2 bg-offwhite placeholder-black-custom border-black-custom border-2 text-black-custom
    }
    .custom-input-error {
        @apply rounded-full w-64 px-4 py-2 bg-offwhite placeholder-black-custom border-red-700 border-2
    }

    .add_remove_button {
        @apply hover:bg-gray-button-hover hover:rounded-3xl w-[2svw] h-[4svh] text-xl font-bold;
        @apply flex items-center justify-center;
    } 
    
    .dropdown-content {
        @apply py-2 px-4 text-black hover:bg-red-200 cursor-pointer
    }
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #101010;
    color: white;
    --custom-color: #715DF2;
    --navbar-color: #171717;
    --navbar-border-color: #242424;
    --profile-color: var( --custom-color);
    --primary-color: var( --custom-color);
    --secondary-color: var( --custom-color);
}

/* scrollbar */
::-webkit-scrollbar {
    display: none;
    height: 0.8svh;
    width: 0.4svw;
}
 
::-webkit-scrollbar-track {
    display: none;
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    background: none;
}

.overflow-scroll::-webkit-scrollbar {
    display: block;
}

.overflow-y-scroll::-webkit-scrollbar-thumb {
    background: #242424;
    border-radius: 5px;
}

.overflow-y-scroll::-webkit-scrollbar-thumb:hover {
    display: block;
}

.overflow-x-scroll::-webkit-scrollbar {
    display: block;
}

/* custom color logic */
.bg-custom {
    background-color: var(--custom-color);
}

.text-custom-hover:hover {
    color: var(--custom-color) !important;
}

.border-custom-hover:hover {
    border-color: var(--custom-color) !important;
}

.border-l-custom-hover:hover {
    border-left-color: var(--custom-color) !important;
}

::-webkit-scrollbar-thumb {
    background: var(--custom-color) !important;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--custom-color) !important;
    cursor: pointer;
}

/* custom navbar color */
.bg-navbar {
    background-color: var(--navbar-color);
}

.border-navbar {
    border-color: var(--navbar-border-color);
}

.text-profile {
    color: var(--profile-color);
}


/* custom market color */
.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.border-primary {
    border-color: var(--primary-color);
}

.border-secondary {
    border-color: var(--secondary-color);
}

.border-primary-hover:hover {
    border-color: var(--primary-color);
}

.border-secondary-hover:hover {
    border-color: var(--secondary-color);
}

.border-l-secondary-hover:hover {
    border-left-color: var(--secondary-color);
}

.text-primary-hover:hover {
    color: var(--primary-color);
}

.text-secondary-hover:hover {
    color: var(--secondary-color);
}

.shadow-secondary {
    --tw-shadow-color: var(--secondary-color);
    --tw-shadow: var(--tw-shadow-colored);
}