@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .custom-button {
        @apply flex items-center content-center justify-center bg-purple-custom text-white rounded-full p-3 text-xl font-bold
        border-purple-custom border-2 hover:border-white hover:border-2 shadow-md shadow-black-custom;
    }

    .custom-input {
        @apply rounded-full w-64 px-4 py-2 placeholder-gray-200 bg-blue-400
    }

    .add_remove_button {
        @apply hover:bg-gray-button-hover hover:rounded-3xl w-[2svw] h-[4svh] text-xl font-bold;
        @apply flex items-center justify-center;
    }    
}

:root {
    background-color: #101010;
    color: white;
}

/* scrollbar */
::-webkit-scrollbar {
    display: none;
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background: rgb(30, 41, 59);
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
    background: rgba(113, 93, 242, 0.747);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(125, 107, 243, 0.747);
}